img#map_canvas {
	width: 70%;
	float: left;
	height: 530px;
	-webkit-border-radius: .6em;
	border-radius: .6em;
}

#score {
	width: 28%;
	float: right;
	margin-left: 1%;
	height: 530px;
	-webkit-border-radius: .6em;
	border-radius: .6em;
	background-color: #eee;
	border: 1px solid #ddd;
}

#score-inner {
	padding: 20px;
	padding-top: 8px;
}

#score-inner hr {
	border: 0px;
	border-top: 1px solid grey;
	margin-bottom: 20px;
}	

#antwoord {
	margin-top: 30px;
	-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text'
}