<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.vernondegoede.topografie"
        version   = "1.0.0">

    <name>Topografie</name>

    <description>
        Een interactieve manier van topografie leren d.m.v. Google maps.
    </description>

    <author href="http://www.vernondegoede.com" email="info@vernondegoede.com">
        vernondegoede
    </author>

	<!-- De bounce uitschakelen. -->
    <preference name="webviewbounce" value="false" />
    
	<!-- De app fullscreen maken. -->
    <preference name="fullscreen" value="true" />

</widget>